body {
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
}

#logo {
    width: 2.5rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 10;
    background-color: lightgray;
    color: black;
    opacity: 0.8;
    top: 0;
    border-bottom: 2px black solid;
}

.navbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 4.7rem;
}

.navbuttons a {
    color: black;
}

.navbuttons:hover {
    border-bottom: black 5px solid;
}

#about {
    background-image: url('headerimg.jpg'), linear-gradient(to bottom,transparent 0%, black 100%);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75vh;
    z-index: 0;
    margin-top: 5rem;
    color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about h1 {
    font-size: 7.5rem;
}

#about p {
    text-align: center;
    width: 50%;
    font-size: 1.5rem;
}

#portfolio {
    background: lightgray;
    color: black;
    height: 25vh;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#portfolio h2 {
    font-size: 3rem;
}

#portfolio p {
    font-size: 1.5rem;
    width: 50%;
}

#projects {
    background-color: lightgray;
    color: black;
    width: 100%;
    height: 50vh;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

#project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#project p {
    font-size: 1rem;
}

footer {
    width: 100%;
    height: 25vh;
    text-align: center;
}

footer h2 {
    font-size: 2.5rem;
}

footer button {
    background-color: black;
    border: 2px solid lightgray;
    border-radius: 10px;
    color: white;
    padding: 20px 30px;
    margin-top: 2vh;
}